@font-face {
  font-family: "iconfont"; /* Project id 3820515 */
  src: url('iconfont.woff2?t=1670743639838') format('woff2'),
       url('iconfont.woff?t=1670743639838') format('woff'),
       url('iconfont.ttf?t=1670743639838') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bangzhu:before {
  content: "\e600";
}

.icon-chadian:before {
  content: "\e68a";
}

.icon-chonghai-zhizhu:before {
  content: "\e968";
}

